#main {
    display: flex;
    flex-wrap: wrap;
    flex:0 1 auto;
}

.project-card {
    background-color: rgb(33, 32, 32);
    display: gird;
    margin: 50px;
    justify-content: center;
    /* max-width: fit-content; */
    /* flex: 0 1 auto; */
}

.project-card:hover {
    filter: drop-shadow(0 0 2em rgb(10, 120, 83));
}

.project-links {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.link-content {
    margin: 10px;
}