.container {
    position: fixed;
    top: 0;
    display: flex;
    border-bottom: 1px solid #2B8272;
    padding: .5em;
    width: stretch;
    background-color: black;
    align-content: flex-start;
}

.container ul {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
}

.container a {
    text-align: right;
    margin: .5em;
    color: white;
}

.container a:hover {
    color: #FF4C6AFF;
}