.container {
    position: fixed;
    top: 0;
    display: flex;
    background: #ffffff;
    border-bottom: 1px solid rgb(242, 4, 206);
    padding: 10px;
    width: stretch;
}

.container ul {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
}

.container p {
    text-align: right;
    margin: 10px;
}

