.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 5vh;
    width: 100vw;
    left:0;
    border-bottom: 1px solid #2B8272;
    background-color: black;
    align-content: flex-start;
    z-index:100; 
        /* arbitary large number to ensure ensures it has highest stacking position*/
}

.nav-container ul {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
}

.nav-container a {
    font-family: Arial;
    font-weight:700;
    font-size: 90% ;
    text-align: right;
    color: white;
    padding: .5em;
}

.nav-container a:hover {
    color: #FF4C6AFF;
}