.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 5vh;
    width: 100vw;
    /* height: var(--nav-container-h); */

    /* gap: 1em; */
    /* padding:0 1em; */

    border-bottom: 1px solid #2B8272;
        filter: drop-shadow(0 0 1vh #2b8272);

    /* margin:0 1em; */
  /* max-width: 100vw; */
    background-color: black;
    align-content: flex-start;
    z-index:100; 
        /* arbitary large number to ensure ensures it has highest stacking position*/
}

.nav-container ul {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* margin: 0; */
}

.nav-container a {
    text-align: right;
    /* margin: .5em; */
    color: white;
}

.nav-container a:hover {
    color: #FF4C6AFF;
}