#main {
  max-width: 100vw;
}

@media (min-width: 100Px) and (max-width: 480px) {

  .headshot {
    display: block;
    margin: auto;
    max-width: 60vw;
    max-height: 60vh;
    border-radius: 50%;
  }

  .card-text {
    margin: 1em;
    /* margin-right: 4em; */
  }

  .card-text h3 {
    margin-left: 2em;
  }

}

@media (min-width: 481Px) and (max-width: 768px) {

  .headshot {
    display: block;
    margin: auto;
    max-width: 60vw;
    max-height: 60vh;
    border-radius: 50%;
  }

  /* .card {
    margin: 1em;
    display: flex;
    max-width: 100vw;
  } */

  .card-text {
    margin: 1em;
    /* margin-right: 4em; */
  }

  /* .card-text h1 {
    font-size: 4em;
  }

  .card-text h2 {
    font-size: 3em;
  }*/

  .card-text h3 {
    margin-left: 2em;
  }

}

@media (min-width: 769Px) and (max-width: 1279px) {
  .headshot {
    margin-top: 5em;
    max-width: 40em;
    max-height: 40em;
    border-radius: 50%;
  }

  .card {
    margin: 1em;
    display: flex;
    max-width: 100vw;
  }

  .card-text {
    /* margin: 1em; */
    /* margin-right: 4em; */
  }

  .card-text h1 {
    font-size: 4em;
  }

  .card-text h2 {
    font-size: 3em;
  }

  .card-text h3 {
    font-size: 2em;
  }

}

@media (min-width: 1280Px) {
  .headshot {
    margin-top: 5em;
    max-width: 40em;
    max-height: 40em;
    border-radius: 50%;
  }

  .card {
    margin: 2em;
    display: flex;
    max-width: 100vw;
  }

  .card-text {
    margin: 1em;
    margin-right: 4em;
  }

  .card-text h1 {
    font-size: 5em;
  }

  .card-text h2 {
    font-size: 3em;
  }

  .card-text h3 {
    font-size: 2em;
  }
}

.coming-soon {
  color: #888;
}

a {
  font-weight: 500;
  color: #C43C54FF;
  text-decoration: inherit;
}

a:hover {
  color: #FF4C6AFF;
}



#skills {
  margin-left: 1em;
  margin-right: 1em;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4em;
  margin-right: 4em;
  align-items: center;
  justify-content: center;
  /* max-width: 100vw; */
}

.skills {
  background-color: #2B8272;
  margin: 1em;
  flex-wrap: wrap;
  padding: 1em;
  max-width: fit-content;
  border-radius: 40px;
  text-align: center;
}