#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin: 2em;
  display: flex;
}


.read-the-docs {
  color: #888;
}

.headshot {
    max-width: 15%;
    border-radius: 50%;
}
