.company-logo {
    height: 2em;
    width: 2em;
    padding: 1em;
}

#contact{
   padding: 10px 0;
    scroll-margin-top:calc(var(--nav-container-h) + 10px);  
}

.footer-container{
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
}