.company-logo {
    height: 2em;
    width: 2em;
    padding: 1em;
}

#contact{
      border: 1em;
}

.footer-container{
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
}